<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Poste </label>
    <select
      class="form-control form-control-lg"
      id="idPoste"
      name="IdPoste"
      [(ngModel)]="IdPoste"
      (change)="onChange()"
    >
      <option *ngFor="let po of poste" value="{{ po.idPoste }}">
        {{ po.nomPoste }}
      </option>
    </select>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Salaire</th>
          <th>Date d'embauche</th>
          <th>Catégorie</th>
        </tr>
        <tbody *ngFor="let employe of employe">
          <tr>
            <td>{{ employe.idEmploye }}</td>
            <td>{{ employe.nomEmploye }}</td>
            <td>{{ employe.salaireEmploye }}</td>
            <td>{{ employe.dateEmploye | date : "dd/MM/yyyy" }}</td>
            <td>{{ employe.poste.nomPoste }}</td>
            <td>
              <a class="btn btn-danger" (click)="supprimerEmploye(employe)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-success"
                [routerLink]="['/updatEmploye', employe.idEmploye]"
                >Modifier</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
