<div class="container">
  <div>
    <h2>Ajouter un Employé :</h2>
  </div>
  <form [formGroup]="myForm">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Employe</label>
      <input
        type="text"
        [(ngModel)]="newEmploye.idEmploye"
        name="idEmploye"
        class="form-control"
      />
    </div>
    <span
      *ngIf="
        myForm.controls['idEmploye'].hasError('required') &&
        myForm.controls['idEmploye'].touched
      "
      class="text-danger"
    >
      id employe est obligatoire
    </span>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Employe</label>
      <input
        type="text"
        [(ngModel)]="newEmploye.nomEmploye"
        name="nomEmploye"
        class="form-control"
      />
    </div>

    <span
      *ngIf="
        myForm.controls['nomEmploye'].hasError('required') &&
        myForm.controls['nomEmploye'].touched
      "
      class="text-danger"
    >
      nomEmolpye est obligatoire
    </span>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Salaire Employe</label>
      <input
        type="number"
        [(ngModel)]="newEmploye.salaireEmploye"
        name="salaireEmploye"
        class="form-control"
      />
    </div>

    <span
      *ngIf="
        myForm.controls['salaireEmploye'].hasError('required') &&
        myForm.controls['salaireEmploye'].touched
      "
      class="text-danger"
    >
      salaire Emolpye est obligatoire
    </span>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date d'embauche</label>
      <input
        type="date"
        [(ngModel)]="newEmploye.dateEmploye"
        name="dateEmploye"
        class="form-control"
      />
    </div>

    <span
      *ngIf="
        myForm.controls['dateEmploye'].hasError('required') &&
        myForm.controls['dateEmploye'].touched
      "
      class="text-danger"
    >
      date Emolpye est obligatoire
    </span>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Poste</label>
      <select
        class="form-control form-control-lg"
        id="idPoste"
        name="idPoste"
        [(ngModel)]="newIdPoste"
      >
        <option *ngFor="let po of poste" [value]="po.idPoste">
          {{ po.nomPoste }}
        </option>
      </select>
    </div>
    <span
      *ngIf="
        myForm.controls['postEmploye'].hasError('required') &&
        myForm.controls['postEmploye'].touched
      "
      class="text-danger"
    >
      post Emolpye est obligatoire
    </span>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>email Employe </label>
      <input
        type="text"
        name="emailEmploye"
        class="form-control"
        formControlName="emailEmploye"
        [(ngModel)]="newEmploye.emailEmploye"
      />
    </div>
    <span
      *ngIf="
        myForm.controls['emailEmploye'].hasError('required') &&
        myForm.controls['emailEmploye'].touched
      "
      class="text-danger"
    >
      email est obligatoire
    </span>
    <span
      *ngIf="
        myForm.controls['emailEmploye'].hasError('emailEmploye') &&
        myForm.controls['emailEmploye'].touched
      "
      class="text-danger"
    >
      email non valide
    </span>

    <div class="mt-2">
      <button type="submit" (click)="addEmploye()" class="btn btn-success">
        Ajouter
      </button>
    </div>
  </form>
</div>
